extends ./../layouts/dashboard.pug
block headBlock
  link(href='/css/paginationStyle.css' rel='stylesheet')
block main
  #layoutSidenav_content
    main
      .container
        h1.mt-4
          | Rutas
 
        // quiero cargar las cosas aqui
        if message
          .alert.alert-success.text-center= message
        if error
          .alert.alert-danger.text-center= error
        table.table
          thead.thead-light
            tr
              th(scope='col') Nombre
              th(scope='col') Acciones
          tbody
            if contextRuta
              each ruta in contextRuta.rutas 
                tr
                  th(scope='row')= ruta.nombre
                  td
                    a(href=`/ruta/update/${ruta._id}`).btn.btn-warning Update
                    a(href=`/ruta/remove/${ruta._id}`).btn.btn-danger remove
        ul.pagination.justify-content-end.danger
          if contextRuta
            if contextRuta.num_pages > 1
              if contextRuta.num_page != 1 
                li.page-item
                  a.page-link(href=`/ruta/page/${contextRuta.num_page-1}`)
                    <span aria-hidden="true">&laquo;</span>
              - let index = 1; 
              - for (let index=1; index<=contextRuta.num_pages; index++)
                if contextRuta.num_page === index
                  li.page-item.active
                    a.page-link(href="#")= index
                else
                  li.page-item
                    a.page-link(href=`/ruta/page/${index}`)= index
              if contextRuta.num_page != contextRuta.num_pages
                li.page-item
                  a.page-link(href=`/ruta/page/${index+1}`)
                    <span aria-hidden="true">&raquo;</span>
                
            
                            
        
        
 
        
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy;onny bus 2020
          div
            a(href='#') politicas de privacidad
            |  &middot;
            a(href='#')
              | terminos &amp;
              | condiciones